Repository frequenz-floss/frequenz-api-common, pull requests merged in 2023-12, with the labels that each got.

#150 Fix doc examples for `SensorData` and `ComponentData`
  CONTRIBUTING.md
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/components/components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf

#149 Add Max charge and discharge values for a component.
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/components/components.proto
Labels: part:docs, part:protobuf

#157 Update release notes
  RELEASE_NOTES.md
Labels: part:docs

#161 Add Energy message for electricity trading markets
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/market/energy.proto
Labels: priority: URGENT, type:enhancement, part:docs, part:protobuf

#162 Prepare release notes for release
  RELEASE_NOTES.md
Labels: part:docs
