Repository frequenz-floss/frequenz-api-common, pull requests merged in 2023-05, with the labels that each got.

#7 Pin build dependencies and add dependabot
  .github/dependabot.yml
  pyproject.toml
Labels: type: enhancement, part:tooling

#14 Remove erroneous "microgrid" references
  .github/workflows/ci.yaml
Labels: part:tooling

#15 Fix some more microgrid copy&paste errors
  CONTRIBUTING.md
Labels: type:bug, part:docs

#17 Use HTTPS URL for the submodule
  .github/RELEASE_NOTES.template.md
  .gitmodules
  RELEASE_NOTES.md
Labels: type:enhancement, part:docs, part:tooling
