Repository frequenz-floss/frequenz-api-common, pull requests merged in 2023-10, with the labels that each got.

#104 Make lower and upper bounds optional in the Bounds message
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics.proto
Labels: part:docs, part:protobuf

#114 Update the metrics package
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/components/data.proto
  proto/frequenz/api/common/v1/metrics.proto
  proto/frequenz/api/common/v1/metrics/electrical.proto
  py/frequenz/api/common/v1/components/__init__.py
Labels: part:docs, part:protobuf, part:python

#102 Bump repo config to v0.6.2
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yaml
  MANIFEST.in
  mkdocs.yml
  py/frequenz/api/common/__init__.py
  pyproject.toml
Labels: part:python, part:tooling, cmd:skip-release-notes

#122 Update `metrics` and `component.data` packages
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/components/data.proto
  proto/frequenz/api/common/v1/metrics.proto
Labels: part:docs, part:protobuf
