Repository frequenz-floss/frequenz-api-common, pull requests merged in 2023-08, with the labels that each got.

#37 Regenerate repository using repo-config v0.4.0
  .cookiecutter-replay.json
  .github/labeler.yml
  .github/workflows/ci.yaml
  pyproject.toml
  pytests/test_common.py
Labels: part:tests, part:tooling

#41 Configure the protobuf include paths
  pyproject.toml
Labels: type:bug, part:tooling

#47 Update protobuf file headers
  RELEASE_NOTES.md
  proto/frequenz/api/common/components.proto
  proto/frequenz/api/common/metrics.proto
  proto/frequenz/api/common/metrics/electrical.proto
Labels: part:docs, part:protobuf

#48 Add a message `Location` to represent geo co-ordinates
  RELEASE_NOTES.md
  proto/frequenz/api/common/location.proto
Labels: part:docs, part:protobuf

#49 Add new component categories for relays and precharge modules
  RELEASE_NOTES.md
  proto/frequenz/api/common/components.proto
Labels: part:docs, part:protobuf

#50 Revert "Update protobuf file headers"
  proto/frequenz/api/common/components.proto
  proto/frequenz/api/common/metrics.proto
  proto/frequenz/api/common/metrics/electrical.proto
Labels: part:protobuf

#53 Add country code to the Location message
  RELEASE_NOTES.md
  proto/frequenz/api/common/location.proto
Labels: part:docs, part:protobuf

#55 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs, type:tech-debt

#59 Upgrade to repo-config v0.5.2
  .cookiecutter-replay.json
  .editorconfig
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/labeler.yml
  .github/workflows/release-notes-check.yml
  MANIFEST.in
  mkdocs.yml
  py/conftest.py
  pyproject.toml
Labels: part:python, part:tooling, type:tech-debt, cmd:skip-release-notes
