Repository frequenz-floss/frequenz-api-common, pull requests merged in 2023-11, with the labels that each got.

#125 Add messages to stream sensor data
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/components/data.proto
  proto/frequenz/api/common/v1/metrics.proto
  proto/frequenz/api/common/v1/sensors.proto
Labels: part:docs, part:protobuf

#126 Move `ComponentData` message to `components.proto`
  proto/frequenz/api/common/v1/components.proto
  proto/frequenz/api/common/v1/components/data.proto
  py/frequenz/api/common/v1/components/__init__.py
Labels: part:protobuf, part:python, cmd:skip-release-notes

#127 Add messages describing microgrid entities
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/grid/delivery_area.proto
  proto/frequenz/api/common/v1/microgrid/components/battery.proto
  proto/frequenz/api/common/v1/microgrid/components/components.proto
  proto/frequenz/api/common/v1/microgrid/components/ev_charger.proto
  proto/frequenz/api/common/v1/microgrid/components/fuse.proto
  proto/frequenz/api/common/v1/microgrid/components/grid.proto
  proto/frequenz/api/common/v1/microgrid/components/inverter.proto
  proto/frequenz/api/common/v1/microgrid/components/transformer.proto
  proto/frequenz/api/common/v1/microgrid/lifetime.proto
  proto/frequenz/api/common/v1/microgrid/microgrid.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
  py/frequenz/api/common/v1/grid/__init__.py
  py/frequenz/api/common/v1/microgrid/__init__.py
  py/frequenz/api/common/v1/microgrid/components/__init__.py
  py/frequenz/api/common/v1/microgrid/sensors/__init__.py
  pytests/test_common.py
Labels: part:docs, part:protobuf, part:python, part:tests

#131 Refactor protobuf messages and files to establish a standard packaging scheme
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/location.proto
  proto/frequenz/api/common/v1/metrics/bounds.proto
  proto/frequenz/api/common/v1/metrics/electrical.proto
  proto/frequenz/api/common/v1/metrics/metric_sample.proto
  proto/frequenz/api/common/v1/microgrid/components/components.proto
  proto/frequenz/api/common/v1/microgrid/microgrid.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
  proto/frequenz/api/common/v1/pagination/pagination_info.proto
  proto/frequenz/api/common/v1/pagination/pagination_params.proto
  py/frequenz/api/common/v1/pagination/__init__.py
  pytests/test_common.py
Labels: part:docs, part:protobuf, part:python, part:tests

#132 Remove unnecessary items and add a test
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/electrical.proto
  proto/frequenz/api/common/v1/metrics/metric_sample.proto
  pytests/test_common.py
Labels: part:docs, part:protobuf, part:tests

#137 Add "MicrogridComponentIDs" message
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#138 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs
