Repository frequenz-floss/frequenz-api-common, pull requests merged in 2024-02, with the labels that each got.

#181 Add field `source` to `MetricSample`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/metric_sample.proto
Labels: type:enhancement, part:docs, part:protobuf

#188 Add metrics variants for inverter temperatures
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/metric_sample.proto
Labels: part:docs, part:protobuf

#191 Update release notes for v0.5.5 release
  RELEASE_NOTES.md
Labels: part:docs

#192 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#195 Update to repo-conf 0.9.0
  pyproject.toml
Labels: part:docs, part:tooling
