Repository frequenz-floss/frequenz-api-common, pull requests merged in 2024-05, with the labels that each got.

#223 Make Dependabot check for updates monthly on Thursdays
  .github/dependabot.yml
Labels: part:tooling, type:tech-debt

#225 Add new component category HVAC
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/components/components.proto
Labels: part:docs, part:protobuf

#226 Clean up release notes to prepare for release v0.6.1
  RELEASE_NOTES.md
Labels: part:docs
