Repository frequenz-floss/frequenz-api-common, pull requests merged in 2025-05, with the labels that each got.

#294 Add new message definitions for streaming events
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/streaming/event.proto
  py/frequenz/api/common/v1/streaming/__init__.py
Labels: part:docs, part:protobuf, part:python, part:tooling

#316 Rename vendor error code and update documentation
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:protobuf, cmd:skip-release-notes

#329 Add communication component state codes and snapshot message
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/communication_components/communication_components.proto
Labels: part:docs, part:protobuf

#332 Fix outdated documentation
  proto/frequenz/api/common/v1/microgrid/communication_components/communication_components.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
Labels: cmd:skip-release-notes

#336 Improve numbering in enums `ElectricalComponentCategory` and `Metric`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/metric_sample.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
Labels: part:docs, part:protobuf

#338 Rename `metric_sample.proto` to `metrics.proto`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/metrics.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
  pytests/test_common.py
Labels: part:docs, part:protobuf, part:tests

#335 Rename grid to grid_connection_point in electrical_components.proto
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
Labels: part:docs, part:protobuf

#337 Add inverter type `INVERTER_TYPE_WIND_TURBINE`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/inverter.proto
Labels: part:docs, part:protobuf

#333 Rename category type field in ElectricalComponent
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
Labels: part:docs, part:protobuf

#341 Add `Snapshot` prefix to sensor and electrical component states
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf

#345 Renamed `sampled_at` timestamps to `origin_time`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/metrics.proto
  proto/frequenz/api/common/v1/microgrid/communication_components/communication_components.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf

#346 Remove `SensorMetricSample` in favour of `MetricSample`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf

#347 Rename `MetricSample.source` to `MetricSample.connection`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/metrics.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf

#350 Rename `SensorStateCode` variant `ON` to `OK` in sensors.proto
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf

#351 Rename `*Data` messages to `*Telemetry`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf
