Repository frequenz-floss/frequenz-api-common, pull requests merged in 2025-02, with the labels that each got.

#283 Add message linking microgrid and sensor IDs
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#284 Add message linking microgrid and sensor IDs
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/microgrid.proto
Labels: part:docs, part:protobuf

#285 Build source packages with PEP 625 compliant filenames
  pyproject.toml
Labels: part:tooling, type:tech-debt, cmd:skip-release-notes

#286 Merge v0.6.3 into v0.6.x
  .github/workflows/ci.yaml
  .github/workflows/release-notes-check.yml
  MANIFEST.in
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/market/energy.proto
  proto/frequenz/api/common/v1/market/power.proto
  proto/frequenz/api/common/v1/metrics/metric_sample.proto
  proto/frequenz/api/common/v1/microgrid/components/components.proto
  proto/frequenz/api/common/v1/microgrid/lifetime.proto
  proto/frequenz/api/common/v1/microgrid/microgrid.proto
  proto/frequenz/api/common/v1/pagination/pagination_params.proto
  py/frequenz/api/common/conftest.py
  pyproject.toml
Labels: part:docs, part:protobuf, part:python, part:tests, part:tooling
