Repository frequenz-floss/frequenz-api-common, pull requests merged in 2025-06, with the labels that each got.

#356 Bump protobuf and grpcio versions
  pyproject.toml
Labels: part:tooling

#355 Avoid warnings about protobuf gencode version
  pyproject.toml
Labels: part:tooling

#362 Change vendor diagnostic codes to string type
  proto/frequenz/api/common/v1/microgrid/communication_components/communication_components.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:protobuf, cmd:skip-release-notes

#367 Rename metric variants to follow a consistent naming scheme
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/metrics.proto
Labels: part:docs, part:protobuf

#368 Move `location.proto` to `types/location.proto`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/microgrid.proto
  proto/frequenz/api/common/v1/types/location.proto
  pytests/test_common.py
Labels: part:docs, part:protobuf, part:tests

#370 Rename package `types` to `type`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/market/energy.proto
  proto/frequenz/api/common/v1/market/power.proto
  proto/frequenz/api/common/v1/market/price.proto
  proto/frequenz/api/common/v1/microgrid/microgrid.proto
  proto/frequenz/api/common/v1/type/decimal.proto
  proto/frequenz/api/common/v1/type/interval.proto
  proto/frequenz/api/common/v1/type/location.proto
  py/frequenz/api/common/v1/type/__init__.py
  pytests/test_common.py
Labels: part:docs, part:protobuf, part:python, part:tests

#371 Rename sensor and electrical component telemetry states
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf

#372 Change type of `metrics.MetricSample.connection` field
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/metrics/metrics.proto
Labels: part:docs, part:protobuf

#373 Rename `INVERTER_TYPE_SOLAR` to `INVERTER_TYPE_PHOTOVOLTAIC`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/inverter.proto
Labels: type:enhancement, part:docs, part:protobuf

#378 Extend the `ElectricalComponentCategory` enum with new variants
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1alpha7/microgrid/electrical_components/electrical_components.proto
Labels: part:docs, part:protobuf

#380 Move all electrical component types to a single file
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1alpha7/microgrid/electrical_components/battery.proto
  proto/frequenz/api/common/v1alpha7/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1alpha7/microgrid/electrical_components/ev_charger.proto
  proto/frequenz/api/common/v1alpha7/microgrid/electrical_components/fuse.proto
  proto/frequenz/api/common/v1alpha7/microgrid/electrical_components/grid.proto
  proto/frequenz/api/common/v1alpha7/microgrid/electrical_components/inverter.proto
  proto/frequenz/api/common/v1alpha7/microgrid/electrical_components/transformer.proto
  pytests/test_common_v1alpha7.py
Labels: part:docs, part:protobuf, part:tests

#381 Update release notes
  RELEASE_NOTES.md
Labels: part:docs
