Repository frequenz-floss/frequenz-api-common, pull requests merged in 2025-04, with the labels that each got.

#291 Rename microgrid.components -> microgrid.electrical_components
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/battery.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/ev_charger.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/fuse.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/grid.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/inverter.proto
  proto/frequenz/api/common/v1/microgrid/electrical_components/transformer.proto
  py/frequenz/api/common/v1/microgrid/electrical_components/__init__.py
  pytests/test_common.py
Labels: part:docs, part:protobuf, part:python, part:tests

#292 Add protobuf definition for communication components
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/communication_components/communication_components.proto
  py/frequenz/api/common/v1/microgrid/communication_components/__init__.py
  pytests/test_common.py
Labels: part:docs, part:protobuf, part:python, part:tests

#295 Update repo-conf
  .github/dependabot.yml
  .github/workflows/ci-pr.yaml
  .github/workflows/ci.yaml
  pyproject.toml
Labels: part:tooling

#304 Fix: Forgot to update repo-conf dependency to 0.13.1
  pyproject.toml
Labels: part:tooling

#306 Remove dependabot for submodules
  .github/dependabot.yml
Labels: part:tooling, type:tech-debt

#308 Add an `ElectricalComponentError` message
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
Labels: part:docs, part:protobuf

#309 Rename `ElectricalComponentError` to `ElectricalComponentDiagnostic`
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/electrical_components/electrical_components.proto
Labels: part:docs, part:protobuf

#310 Update sensor error representation
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/microgrid/sensors/sensors.proto
Labels: part:docs, part:protobuf

#313 Add TimeIntervalFilter definition
  RELEASE_NOTES.md
  proto/frequenz/api/common/v1/types/time_interval_filter.proto
Labels: part:docs, part:protobuf
